header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large
}
.navbar {
    font-size: 25px;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    background-color:rgb(244, 191, 237);
}

hr {
    border: none;
    border-top: 2px solid black;
}
